@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'body';
    src: url('/fonts/Forum-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'logo';
    src: url('/fonts/Exo2-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'other';
    src: url('/fonts/JosefinSlab-VariableFont_wght.ttf') format('truetype');
}

.spacer1 {
  aspect-ratio: 960/300;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
}

.spacer2 {
  aspect-ratio: 960/300;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  bottom: 0;
}

.spacer3 {
  aspect-ratio: 960/300;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -100;
  bottom: 0;
}

.layer1 {
  background-image: url("/images/layer1.svg");
}

.layer2 {
  background-image: url("/images/layer2.svg");
}

.blob1 {
  background-image: url("/images/circle.svg");
}
